.text-center {
    text-align: center;
}
table {
    margin: 0 auto;
}
table tr:nth-child(even) {
    background-color: lightgray;
}
table th {
    color: white;
    background-color: green;
    padding: 10px;
    min-width: 50px;
    text-decoration: underline;
    cursor: pointer;
}
table td {
    padding: 10px;
}

.numeric {
    text-align: center;
}

.nobr {
    white-space: nowrap;
}
